extends ../layout/site

block main
    - var definition = entries.types[params.type]
    h1 Add a New #{definition.name}

    a.pure-button(href='list')= definition.plural

    form.pure-form.pure-form-stacked(method='post')
        fieldset
            legend Create a New #{definition.name}

            each field in entry.fields
                | !{field.html}

            button.pure-button.pure-button-primary(type='submit') Create
