extends ../layout/site

block main
    - var definition = entries.types[params.type]
    h1 Add a New #{definition.name}

    a.pure-button.button-list(href='list') All #{definition.plural}

    form.pure-form.pure-form-stacked(method='post')
        fieldset
            each field in entry.fields
                | !{field.html}

            hr

            button.pure-button.pure-button-primary.button-add(type='submit') Create #{definition.name}
