extends ../layout/site

block main
    - var definition = entries.types[params.type]
    .entry-type
        .title Create a New #{definition.name}
        if definition.description
            .description= definition.description

    if definition.maximum !== 1
        a.pure-button.button-list(href='list') All #{definition.plural}

    include entry-form
    +entry-form('Create ' + definition.name)
