extends ../layout/site

block main
    - var definition = entries.types[params.type]
    h1 Edit #{definition.name}

    a.pure-button.button-list(href='../list') All #{definition.plural}

    form.pure-form.pure-form-stacked(method='post')
        fieldset
            each field in entry.fields
                | !{field.html}

            hr

            button.pure-button.pure-button-primary(type='submit') Save Changes to #{definition.name}
