mixin entry-form(btnText)
    - var formAttributes = entry.multipart ? {enctype: 'multipart/form-data'} : {}
    form.pure-form.pure-form-stacked.entry-form(method='post')&attributes(formAttributes)
        fieldset
            each field in entry.fields
                | !{field.html}
        button.pure-button.pure-button-primary.button-save(type='submit')= btnText
