mixin entry-form(btnText)
    form.pure-form.pure-form-stacked(method='post')
        fieldset
            each field in entry.fields
                | !{field.html}

            hr

            button.pure-button.pure-button-primary.button-save(type='submit')= btnText
