mixin entry-form(btnText)
    a#renew-lock.hidden.button.pure-button(href=baseUrl + 'lock/' + entry.id) Renew Lock
    - var formAttributes = entry.multipart ? {enctype: 'multipart/form-data'} : {}
    form.pure-form.pure-form-stacked.entry-form(method='post')&attributes(formAttributes)
        fieldset
            button.pure-button.pure-button-primary.button-save(type='submit', formnovalidate)= btnText
            each field in entry.fields
                .pure-control-group(class='field-group-' + field.type) !{field.html}
        button.pure-button.pure-button-primary.button-save(type='submit', formnovalidate)= btnText
