extends ../layout/site

block main
    - var definition = entries.types[params.type]
    h1= definition.plural
    h2= definition.description

    a.pure-button.pure-button-primary.button-add(href='create')
        | Add a New #{definition.name}

    ul
        each item in list
            li
                a.hvr-grow(href='edit/' + item.id)= item.title
