@mixin icon-button($content) {
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: $content;
}


/** Animations **/
.button-add {
    @include skew-forward();
}

.button-list, .button-back {
    @include skew-backward();
}

.button-edit {
    @include grow();
}

.button-sort {
    @include bob();
}


/** Icons **/
.button-edit:before {
    @include icon-button($fa-var-pencil);
}

.button-add:before {
    @include icon-button($fa-var-plus);
}

.button-back:before {
    @include icon-button($fa-var-arrow-left);
}

.button-list:before {
    @include icon-button($fa-var-list-alt);
}

.button-sort:before {
    @include icon-button($fa-var-sort);
}


.list .item {
    margin: 5px 0;
}
