$foreground-dark: rgba(0, 0, 0, 1);
$foreground-bold: rgba(35, 142, 81, 1);
$foreground-light: rgba(99, 99, 99, 1);
$foreground-callout: rgba(255, 255, 255, 1);

$background: rgba(255, 255, 255, 1);
$background-menu: rgba(35, 142, 81, 0.5);
$background-callout: rgba(169, 197, 185, 0.46);
$background-footer: rgba(55, 55, 33, 0.46);
$background-header: rgba(169, 197, 185, 0.46);
$background-light: rgba(220, 220, 220, 0.5);
$background-warning: rgba(255, 94, 94, 1);
$background-error: rgba(255, 94, 94, 1);

$line-dark: rgba(25, 25, 25, 1);
$line-light: rgba(240, 240, 240, 1);

/* Used for hover.css */
$primaryColor: rgba(190, 170, 170, 0.8);
$secondaryColor: rgba(120, 120, 120, 0.8);
$highlightColor: rgba(200, 180, 180, 1);;
$activeColor: rgba(69, 161, 108, 0.87);
$shadowColor: rgba(0, 0, 0, .6);
