$foreground-dark: rgba(0, 0, 0, 1);
$foreground-bold: rgba(35, 142, 81, 1);

$foreground-logo: rgb(14, 100, 14);
$background-logo: rgb(200, 200, 200);

$background-light: rgba(220, 220, 220, 0.5);
$foreground-light: rgba(99, 99, 99, 1);

$background-callout: rgba(243, 241, 249, 0.87);
$foreground-callout: rgba(131, 131, 131, 1);

$background: rgba(255, 255, 255, 1);
$background-menu: rgba(35, 142, 81, 0.5);
$background-footer: rgba(55, 55, 33, 0.1);
$background-header: rgba(169, 197, 185, 0.46);

$background-warning: rgba(255, 94, 94, 1);
$background-error: rgba(255, 94, 94, 1);
$background-sidebar: rgba(210, 211, 211, 0.5);

/* Buttons */
$background-button-primary: #8894D0;
$foreground-button-primary: white;

$background-button-success: #639975;
$foreground-button-success: white;

$background-button-warning: rgba(255, 94, 94, 1);
$foreground-button-warning: white;

$background-button-error: rgba(25, 180, 62, 1);
$foreground-button-error: white;


$line-dark: rgba(25, 25, 25, 1);
$line-light: rgba(200, 200, 200, 1);

/* Used for hover.css */
$primaryColor: rgba(190, 170, 170, 0.8);
$secondaryColor: rgba(120, 120, 120, 0.8);
$highlightColor: rgba(200, 180, 180, 1);;
$activeColor: rgba(69, 161, 108, 0.87);
$shadowColor: rgba(0, 0, 0, .6);
