body, html, div#layout, .pure-g {
    height: 100%;
}

div#layout {
    margin: 0;
    padding: 0;
}

section.menu {
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    color: $foreground-light;
    @include linear-gradient(to right, $background-menu, 100%, $line-dark, 0%);
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-property, "width");
}

nav li.pure-menu-selected {
    background: $background;
}

nav li.pure-menu-item a {
    @include sweep-to-right();
    display: block;
}

section.main .content {
    padding: 0 40px;
}

section.sidebar {
    height: 100%;
    right: 0;
    top: 0;
    @include linear-gradient(to left, $background-sidebar, 100%, $line-dark, 0%);

    .pure-button {
        width: 100%;
        background-color: $background-sidebar;
    }
}

.header {
    float: right;
}

.entry-type {
   display: table; 
   width: 100%;

   .title {
       display: table-cell;
       float: left;
       font-family: $heading;
       font-size: 34px;
       font-weight: bold;
   }

   .description {
       display: table-cell;
       float: right;
       padding: 20px;
       color: $foreground-callout;
       @include linear-gradient(to bottom, $background-callout, 100%, $line-dark, 0%);
       @include border-bottom-radius(4px);

       &:hover {
           @include bubble-left();
       }
   }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 15px;
    border-top: 1px solid $line-dark;
    @include linear-gradient(to top, $background-footer, 100%, $line-dark, 0%);
}
