body, html, div#layout, .pure-g {
    height: 100%;
}

div#layout {
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
    background: $background-logo;
    border-bottom: 4px solid $line-dark;
    @include radial-gradient(circle at 50% 50%, $background-logo 100%, $background-menu 0%);
    @include underline-from-center();

    .logo-header, .logo-title, .logo-footer {
        color: $foreground-logo;
        font-family: $logo;
        display: block;
        font-size: 34px;
        padding: 0 10px;
    }

    a {
        text-decoration: none;
    }
}

section.menu .content {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    color: $foreground-light;
    @include linear-gradient(to right, $background-menu, 100%, $line-dark, 0%);
}

nav li.pure-menu-selected {
    background: $background;
}

nav li.pure-menu-item a {
    @include sweep-to-right();
    display: block;
}

section.main .content {
    padding: 0 40px 100px 40px;
}

section.sidebar .content {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    @include linear-gradient(to left, $background-sidebar, 100%, $line-dark, 0%);

    .pure-button {
        width: 100%;
        background-color: $background-sidebar;
    }
}

.header {
    float: right;
}

.entry-type {
    width: 100%;
    text-align: center;
    margin: 0 -50% 10px -50%;
    padding: 10px 50%;
    @include linear-gradient(to bottom, $background-callout, 100%, $line-dark, 0%);

   .title {
       font-family: $heading;
       font-size: 34px;
       font-weight: bold;
   }

   .description {
       color: $foreground-callout;
   }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 15px;
    border-top: 1px solid $line-dark;
    @include linear-gradient(to top, $background-footer, 100%, $line-dark, 0%);
}
