$paragraph: 'paragraph', 'sans-serif';
@font-face {
    font-family: 'paragraph';
    src: url('../fonts/Exo-Medium.otf');
}

$heading: 'heading', 'sans-serif';
@font-face {
    font-family: 'heading';
    src: url('../fonts/Exo-Bold.otf');
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: $paragraph;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
}
