@import 'colors';
@import '../../../../node_modules/hover.css/scss/hover.scss';
@import '../../../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';

@import 'forms';

div#layout {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    height: 40px;
    background: $background-header;
}

nav.menu {
    background: $background-menu;
    height: 100%;
    width: 20%;
    position: fixed;
    color: $foreground-light;
}

nav.menu li.pure-menu-selected {
    background: $background;
}

nav.menu li.pure-menu-item a {
    @include sweep-to-right();
    display: block;
}


section.main {
    margin-left: 24%;
    padding: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    border-top: 1px solid $line-dark;
    background: $background-footer;
}
