doctype html
html(lang="en")
    head
        title= pageTitle
        block styles
    body
        header
            block header
            nav
                block nav
        .container
            block container
        footer
            block footer
        block scripts

