mixin listEntries(entries, domain)
    - var entriesHeading = entries.name || 'Entries'
    - var domainUrl = domain ? '/entry/' + domain + '/' : '/entry/';
    li.pure-menu-heading= entriesHeading
        each type, key in entries.types
            if key === params.type && domain === params.domain
                li.pure-menu-item.pure-menu-selected
                    a.pure-menu-link(href=domainUrl + key + '/list')= type.plural || type.name
            else
                li.pure-menu-item
                    a.pure-menu-link(href=domainUrl + key + '/list')= type.plural || type.name

nav.pure-menu
    .logo 
        a.logo-header(href='/') ---
        a.logo-title(href='/') Pallium
        a.logo-footer(href='/') ---
    if user
        form.pure-form(method='post', action='/logout')
            button.pure-button.button-logout(type='submit')
                i.fa.fa-sign-out.fa-flip-horizontal
                | Sign Off
    ul.pure-menu-list
        if entries.domains
            each domain, key in entries.domains
                +listEntries(domain, key)
        else
            +listEntries(entries)

