doctype html
html(lang="en")
    head
        title= site.title
        block styles
            link(rel='stylesheet', href='/assets/css/pure-min.css')
            link(rel='stylesheet', href='/assets/css/catdown.css')
            link(rel='stylesheet', href='/assets/css/main.css')
    body
        #layout
            nav.menu.pure-menu
                block menu 
                    include menu
            section.main
                include flash
                block main
                    p Main
            footer
                block footer
                    include footer
        block scripts
            script(type='text/javascript', src='/assets/js/list.min.js')
            script(type='text/javascript', src='/assets/js/bundle.js')
