doctype html
html(lang="en")
    head
        title= pageTitle
        block styles
            link(rel='stylesheet', href='/assets/css/pure-min.css')
    body
        #layout
            header
                block header
                    h1= pageTitle
            nav.menu
                block menu 
                    ul
                        each type, key in entries.types
                            li
                                a(href="/entry/#{key}")= type.plural
            section.main
                block main
                    p Main
            footer
                block footer
                    p Footer
        block scripts
