doctype html
html(lang="en")
    head
        title= site.title
        block styles
            link(rel='stylesheet', href='/assets/css/pure-min.css')
            link(rel='stylesheet', href='/assets/css/grids-responsive-min.css')
            link(rel='stylesheet', href='/assets/css/catdown.css')
            link(rel='stylesheet', href='/assets/css/main.css')
    body
        #layout
            .pure-g
                section.menu.pure-u-1-8
                    .content
                        block menu 
                            include menu
                section.main.pure-u-3-4
                    include header
                    .content
                        include flash
                        block main
                section.sidebar.pure-u-1-8
                    .content
                        include sidebar
            footer
                block footer
                    include footer
        block scripts
            script(type='text/javascript', src='/assets/js/list.min.js')
            script(type='text/javascript', src='/assets/js/bundle.js')
