extends ./base.jade

block layout
    #layout.content.pure-g
        #nav.pure-u
            .nav-inner
                block menu
                    include menu
                block sidebar
                    include sidebar
        #list.pure-u-1
            block list
        #main.pure-u-1
            include flash
            block main
