fieldset.field-collection
    legend= field.label

    //- List out the item values
    each fieldItem in field.items
        .field-collection-item
            each subfield in fieldItem
                .field-collection-item-field!= subfield.output

    //- List out the clonable object
    .field-collection-item.clonable
        each subfield in field.fields
            .field-collection-item-field!= subfield.output
