- var previewId = 'md-preview-' + id
label(for=id) #{label}

.pure-g
    .pure-u-1-2
        textarea.md-editor(id=id, name=fieldName, data-md-preview=previewId, required)= value
    .pure-u-1-2
        section.md-preview(id=previewId)= value
