- var fieldAttributes = field.attributes || {}
if field.value
    - fieldAttributes.checked = true;
.switch.on-off
    input(id=field.id, type='checkbox', name=field.fieldName, value=field.value)&attributes(fieldAttributes)
    label(for=field.id)
        .off&attributes(field.off.attributes || {})= field.off.label
        .on&attributes(field.on.attributes || {})= field.on.label
