extends ./layout/site.jade

block menu 
    p List of Entry Types
    ul
        each type, key in entry.types
            li
                a(href="/entry/#{key}")= type.plural

block main 
    p Home Sweet Home
